body {
  background: #101010; }

.header {
  left: 0;
  height: 100vh;
  width: 67px;
  background: #000000;
  position: absolute; }
  .header .header-title {
    position: absolute;
    top: 190px;
    left: -129px;
    transform: rotate(90deg);
    transform-origin: top;
    color: #ffffff;
    font-family: "poppinsextrabold";
    letter-spacing: 8.4px;
    font-size: 21px;
    width: 345px; }

.header-icon-box {
  position: relative;
  top: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap; }
  .header-icon-box .header-icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom: 35px;
    position: relative;
    cursor: pointer; }
    .header-icon-box .header-icon:last-child {
      margin-bottom: 0; }
    .header-icon-box .header-icon::after {
      content: '';
      pointer-events: none;
      position: absolute;
      width: 30px;
      height: 30px;
      left: -5px;
      top: -4px;
      border-radius: 50%;
      transition: transform 0.2s, opacity 0.3s; }
    .header-icon-box .header-icon:hover::after {
      transform: scale(1.3);
      opacity: 0;
      background: #ffb912; }
    .header-icon-box .header-icon svg {
      width: 100%; }
      .header-icon-box .header-icon svg:hover path, .header-icon-box .header-icon svg:hover circle {
        fill: #ffb912; }

.main-banner {
  position: relative;
  width: calc(100% - 70px);
  height: 720px;
  left: 68px;
  background: url("../img/banner.png") top center/cover no-repeat; }
  .main-banner .overlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); }
    .main-banner .overlayer p {
      font-family: "poppinsextrabold";
      text-transform: uppercase;
      color: #ffffff; }
    .main-banner .overlayer .resume-title {
      font-size: 125px;
      letter-spacing: 9px;
      opacity: 0.3;
      text-shadow: 0px 0px 17px; }
    .main-banner .overlayer .about-me {
      position: absolute;
      font-size: 66px;
      text-shadow: 0px 0px 6px #000; }
      .main-banner .overlayer .about-me span {
        color: #ffb912; }
    .main-banner .overlayer .motto {
      position: absolute;
      margin-top: 145px;
      text-align: center; }
      .main-banner .overlayer .motto::after, .main-banner .overlayer .motto::before {
        content: '';
        position: absolute;
        width: 40px;
        left: -55px;
        transform: translateY(-50%);
        background-color: #ffb912;
        height: 3px;
        top: 50%; }
      .main-banner .overlayer .motto::after {
        left: auto;
        right: -55px; }
      .main-banner .overlayer .motto p {
        font-family: "poppinsregular";
        font-size: 16px;
        color: white;
        letter-spacing: 7px;
        text-transform: uppercase; }
    .main-banner .overlayer .more-close {
      position: absolute;
      top: 35px;
      right: 150px;
      z-index: 1;
      transform: scale(3.5);
      opacity: 0.1; }
      .main-banner .overlayer .more-close::after, .main-banner .overlayer .more-close::before {
        content: "";
        position: relative;
        display: block;
        width: 27px;
        height: 1px;
        background: #ce930b;
        left: 4px;
        transition: transform .2s; }
      .main-banner .overlayer .more-close::before {
        top: 3px; }
      .main-banner .overlayer .more-close::after {
        top: 2px; }
    .main-banner .overlayer .more {
      position: absolute;
      cursor: pointer;
      top: 35px;
      right: 35px;
      letter-spacing: 3px;
      font-size: 15px;
      overflow: hidden;
      padding-bottom: 3px;
      z-index: 1000; }
      .main-banner .overlayer .more:hover::before {
        transition: max-width .3s;
        transition-delay: 0.1s;
        max-width: 100%; }
      .main-banner .overlayer .more:hover::after {
        transition: opacity 0.2s, bottom 0.2s;
        opacity: 1;
        bottom: 0; }
      .main-banner .overlayer .more::before {
        content: attr(data-hover);
        position: absolute;
        color: #ffb912;
        left: 0;
        overflow: hidden;
        max-width: 0;
        transition: max-width 0.5s; }
      .main-banner .overlayer .more::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 8px;
        opacity: 0;
        width: 100%;
        height: 2px;
        background: #ffb912;
        transition: opacity 0.5s, bottom 1s;
        transition-delay: 0.5s; }

nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: hidden;
  transition: visibility;
  transition-delay: .8s; }
  nav .grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "menu-1 menu-2 menu-5 menu-5" "menu-1 menu-2 menu-5 menu-5" "menu-3 menu-4 menu-5 menu-5" "menu-3 menu-4 menu-5 menu-5"; }
    nav .grid-container .menu-1 {
      grid-area: menu-1;
      background-color: red;
      width: 0px;
      transition: width .3s;
      will-change: width;
      transition-delay: 0.1s; }
    nav .grid-container .menu-2 {
      grid-area: menu-2;
      background-color: #ce930b;
      height: 0px;
      transition: height .3s;
      will-change: height;
      transition-delay: 0.2s; }
    nav .grid-container .menu-3 {
      grid-area: menu-3;
      background-color: #181818;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform .3s;
      will-change: transform;
      transition-delay: 0.3s; }
    nav .grid-container .menu-4 {
      grid-area: menu-4;
      background-color: #0026ff;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .3s;
      will-change: transform;
      transition-delay: 0.4s; }
    nav .grid-container .menu-5 {
      grid-area: menu-5;
      background-color: #181818;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform .3s;
      will-change: transform;
      transition-delay: 0.5s; }

#cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  opacity: 0.5;
  border-radius: 50%;
  pointer-events: none;
  transition: transform .3s; }

#cursor_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  pointer-events: none;
  transition: transform .3s, opacity .3s;
  transition-delay: .2s; }

.cursor-active #cursor {
  display: none;
  transform: scale(1.4);
  transition: transform .3s; }

.cursor-active #cursor_inner {
  transform: scale(10);
  opacity: 0.3;
  transition: transform .3s, opacity .3s; }

#main.menu-opened nav {
  visibility: visible;
  transition-delay: 0s; }
  #main.menu-opened nav .grid-container .menu-1 {
    width: 100%;
    transition: width .2s ease-in;
    transition-delay: 0.1s; }
  #main.menu-opened nav .grid-container .menu-2 {
    height: 100%;
    transition: height .2s ease-in;
    transition-delay: 0.2s; }
  #main.menu-opened nav .grid-container .menu-3, #main.menu-opened nav .grid-container .menu-5 {
    transform: scaleY(1);
    transition: transform .2s ease-in;
    transition-delay: 0.3s; }
  #main.menu-opened nav .grid-container .menu-4 {
    transform: scaleX(1);
    transition: transform .2s ease-in;
    transition-delay: 0.4s; }
  #main.menu-opened nav .grid-container .menu-5 {
    transition-delay: 0.5s; }

#main.menu-opened .more-close::before {
  transform: rotate(45deg);
  transition: transform .2s;
  transition-delay: .6s; }

#main.menu-opened .more-close::after {
  transform: rotate(-45deg);
  transition: transform .2s;
  transition-delay: .6s; }

#main.menu-opened .more::before {
  transition: max-width .3s;
  transition-delay: 0.1s;
  max-width: 100%; }

#main.menu-opened .more::after {
  transition: opacity 0.2s, bottom 0.2s;
  opacity: 1;
  bottom: 0; }
