$background: #101010;
$black: #000000;
$white: #ffffff;
$second-color: #ffb912;
$second-color-darker: #ce930b;
$background-light: lighten($color: $background, $amount: 3%);

// fonts

$popinsextrabold: 'poppinsextrabold';
$popinsbold: 'poppinsbold';
$popinsregular: 'poppinsregular';
$popinsmedium: 'poppinsmedium';