// Variables
$background: #101010;
$black: #000000;
$white: #ffffff;
$second-color: #ffb912;
$second-color-darker: #ce930b;
$background-light: lighten($color: $background, $amount: 3%);

// fonts
$popinsextrabold: 'poppinsextrabold';
$popinsbold: 'poppinsbold';
$popinsregular: 'poppinsregular';
$popinsmedium: 'poppinsmedium';

// :root {
//     --c1-scale: 1;
//     --c1-translateX: 0;
//     --c1-translateY: 0;
//     --c1-rotate: 0deg;

//     --c2-scale: scale(1);
//     --c2-translateX: translateX(0);
//     --c2-translateY: translateY(0);
//     --c2-rotate: rotate(0deg);

//     --c3-scale: scale(1);
//     --c3-translateX: translateX(0);
//     --c3-translateY: translateY(0);
//     --c3-rotate: rotate(0deg);

//     --c4-scale: scale(1);
//     --c4-translateX: translateX(0);
//     --c4-translateY: translateY(0);
//     --c4-rotate: rotate(0deg);
// }

body {
    background: $background;
}

.header {
    left: 0;
    height: 100vh;
    width: 67px;
    background: $black;
    position: absolute;

    .header-title {
        position: absolute;
        top: 190px;
        left: -129px;
        transform: rotate(90deg);
        transform-origin: top;
        color: $white;
        font-family: $popinsextrabold;
        letter-spacing: 8.4px;
        font-size: 21px;
        width: 345px;
    }
}

.header-icon-box {
    position: relative;
    top: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    .header-icon {
        width: 20px;
        height: 20px;
        display: block;
        margin-bottom: 35px;
        position: relative;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        &::after {
            content: '';
            pointer-events: none;
            position: absolute;
            width: 30px;
            height: 30px;
            left: -5px;
            top: -4px;
            border-radius: 50%;
            transition: transform 0.2s, opacity 0.3s;
        }

        &:hover {
            &::after {
                transform: scale(1.3);
                opacity: 0;
                background: $second-color;
            }
        }

        // &::before, &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: $second-color;
        //     transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
        //     transition: transform 0.7s;
        //     transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        // }

        // &::after {
        //     top: calc(50% - 2px);
        //     height: 4px;
        // }

        // &:hover {
        //     &::before {
        //         transform: translate3d(100%,0,0) translate3d(1px,0,0);
        //     }

        //     &::after {
        //         transform: translate3d(0,0,0);
        //     }
        // }

        svg {
            width: 100%;

            &:hover {
                path, circle {
                    fill: $second-color;
                }
            }
        }
    }
}

.main-banner {
    position: relative;
    width: calc(100% - 67px);
    height: 720px;
    left: 67px;
    background: url('../assets/banner.png') top center / cover no-repeat;

    .overlayer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.9);

        p {
            font-family: $popinsextrabold;
            text-transform: uppercase;
            color: $white;
        }

        .resume-title {
            font-size: 125px;
            letter-spacing: 9px;
            opacity: 0.3;
            text-shadow: 0px 0px 17px;
        }

        .about-me {
            position: absolute;
            font-size: 66px;
            text-shadow: 0px 0px 6px #000;

            span {
                color: $second-color;
            }
        }

        .motto {
            position: absolute;
            margin-top: 145px;
            text-align: center;

            &::after, &::before {
                content: '';
                position: absolute;
                width: 40px;
                left: -55px;
                transform: translateY(-50%);
                background-color: $second-color;
                height: 3px;
                top: 50%;
            }

            &::after{
                left: auto;
                right: -55px;
            }

            p {
                font-family: $popinsregular;
                font-size: 16px;
                color: white;
                letter-spacing: 7px;
                text-transform: uppercase;
            }
        }

        .more-close {
            position: absolute;
            top: 35px;
            right: 150px;
            z-index: 1;
            transform: scale(3.5);
            opacity: 0.1;

            &::after, &::before {
                content: "";
                position: relative;
                display: block;
                width: 27px;
                height: 1px;
                background: $second-color-darker;
                left: 4px;
                transition: transform .2s;
            }

            &::before {
                top: 3px;
            }

            &::after {
                top: 2px;
            }
        }

        .menu-item {
            position: absolute;
            cursor: pointer;
            top: 35px;
            right: 35px;
            letter-spacing: 3px;
            font-size: 15px;
            padding-bottom: 3px;
            z-index: 1000;
            text-decoration: none;

            .menu-item-name > span {
                opacity: 1;
                transform: scale(1) translateX(0px) translateY(0px) rotateZ(0deg);
                transition: transform 0.3s 0.3s, opacity 0s 0.3s;
                display: inline-block;
            }

            &:hover {
                .menu-item-name > span {
                    opacity: 0.3;
                    transition: transform 0.6s, opacity 0.3s;
                    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
                }

                .menu-item-name {
                    // animation: floatOriginal 6s ease-in-out infinite;
                    .char-1 {
                        transform:
                            scale(var(--c1-scale)) translateX(var(--c1-translateX))
                            translateY(var(--c1-translateY)) rotate(var(--c1-rotate));
                        animation: float 6s ease-in-out infinite;
                        animation-delay: 1.2s;

                    }

                    .char-2 {
                        transform:
                            scale(var(--c2-scale)) translateX(var(--c2-translateX))
                            translateY(var(--c2-translateY)) rotate(var(--c2-rotate));
                        animation: float2 4.3s ease-in-out infinite;
                        animation-delay: 0.5s;
                    }

                    .char-3 {
                        transform:
                            scale(var(--c3-scale)) translateX(var(--c3-translateX))
                            translateY(var(--c3-translateY)) rotate(var(--c3-rotate));
                        animation: float3 4s ease-in-out infinite;
                        animation-delay: 0.5s;

                    }

                    .char-4 {
                        transform: 
                            scale(var(--c4-scale)) translateX(var(--c4-translateX))
                            translateY(var(--c4-translateY)) rotate(var(--c4-rotate));
                        animation: float4 2s ease-in-out infinite;
                        animation-delay: 0.9s;

                    }
                }

                .menu-item-label {
                    color: $second-color;
                    &::before {
                        transform: translate3d(100%,0,0) translate3d(1px,0,0);
                    }
                }
            }

            .menu-item-name {
                font-family: $popinsextrabold;
                color: $white;
                line-height: 19px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            .menu-item-label {
                font-family: $popinsextrabold;
                color: transparent;
                position: relative;
                transition: color 0s 0.3s;
                display: block;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
                    transition: transform 0.6s;
                    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
                }
            }

        }
    }
}


nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    visibility: hidden;
    transition: visibility;
    transition-delay: .8s;

    .grid-container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "menu-1 menu-2 menu-5 menu-5"
          "menu-1 menu-2 menu-5 menu-5"
          "menu-3 menu-4 menu-5 menu-5"
          "menu-3 menu-4 menu-5 menu-5";

        .menu-1 {
            grid-area: menu-1;
            background-color: red;
            width: 0px;
            transition: width .3s;
            will-change: width;
            transition-delay: 0.1s;
        }

        .menu-2 {
            grid-area: menu-2;
            background-color: $second-color-darker;
            height: 0px;
            transition: height .3s;
            will-change: height;
            transition-delay: 0.2s;
        }

        .menu-3 {
            grid-area: menu-3;
            background-color: $background-light;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform .3s;
            will-change: transform;
            transition-delay: 0.3s;
        }
        .menu-4 {
            grid-area: menu-4;
            background-color: rgb(0, 38, 255);
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .3s;
            will-change: transform;
            transition-delay: 0.4s;
        }

        .menu-5 {
            grid-area: menu-5;
            background-color: $background-light;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform .3s;
            will-change: transform;
            transition-delay: 0.5s;
        }
    }
}

#cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    opacity: 0.5;
    border-radius: 50%;
    pointer-events: none;
    transition: transform .3s;
}

#cursor_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    pointer-events: none;
    transition: transform .3s, opacity .3s;
    transition-delay: .2s;
}

.cursor-active {
    #cursor {
        display: none;
        transform: scale(1.4);
        transition: transform .3s;
    }

    #cursor_inner {
        transform: scale(10);
        opacity: 0.3;
        transition: transform .3s, opacity .3s;
    }
}

#main {
    &.menu-opened {
        nav {
            visibility: visible;
            transition-delay: 0s;

            .grid-container {
                .menu-1 {
                    width: 100%;
                    transition: width .2s ease-in;
                    transition-delay: 0.1s;
                }

                .menu-2 {
                    height: 100%;
                    transition: height .2s ease-in;
                    transition-delay: 0.2s;
                }

                .menu-3, .menu-5 {
                    transform: scaleY(1);
                    transition: transform .2s ease-in;
                    transition-delay: 0.3s;
                }

                .menu-4 {
                    transform: scaleX(1);
                    transition: transform .2s ease-in;
                    transition-delay: 0.4s;
                }

                .menu-5 {
                    transition-delay: 0.5s;
                }
            }
        }

        .more-close {
            &::before {
                transform: rotate(45deg);
                transition: transform .2s;
                transition-delay: .6s;
            }

            &::after {
                transform: rotate(-45deg);
                transition: transform .2s;
                transition-delay: .6s;
            }
        }

        .more {
            &::before {
                transition: max-width .3s;
                transition-delay: 0.1s;
                max-width: 100%;
            }

            &::after {
                transition: opacity 0.2s, bottom 0.2s;
                opacity: 1;
                bottom: 0;
            }
        }

    }
}

@keyframes float {
	0% {
        transform: scale(var(--c1-scale)) translateX(var(--c1-translateX))
            translateY(var(--c1-translateY)) rotate(var(--c1-rotate));
	}
	50% {
        transform: scale(var(--c1-scale)) translateX(var(--c1-translateX))
            translateY(calc(var(--c1-translateY) - 5px)) rotate(var(--c1-rotate));
	}
	100% {
        transform: scale(var(--c1-scale)) translateX(var(--c1-translateX))
            translateY(var(--c1-translateY)) rotate(var(--c1-rotate));
	}
}

@keyframes float2 {
	0% {
        transform: scale(var(--c2-scale)) translateX(var(--c2-translateX))
            translateY(var(--c2-translateY)) rotate(var(--c2-rotate));
	}
	50% {
        transform: scale(var(--c2-scale)) translateX(var(--c2-translateX))
            translateY(calc(var(--c2-translateY) - 3px)) rotate(var(--c2-rotate));
	}
	100% {
        transform: scale(var(--c2-scale)) translateX(var(--c2-translateX))
            translateY(var(--c2-translateY)) rotate(var(--c2-rotate));
	}
}

@keyframes float3 {
	0% {
        transform: scale(var(--c3-scale)) translateX(var(--c3-translateX))
            translateY(var(--c3-translateY)) rotate(var(--c3-rotate));
	}
	50% {
        transform: scale(var(--c3-scale)) translateX(var(--c3-translateX))
            translateY(calc(var(--c3-translateY) - 6px)) rotate(var(--c3-rotate));
	}
	100% {
        transform: scale(var(--c3-scale)) translateX(var(--c3-translateX))
            translateY(var(--c3-translateY)) rotate(var(--c3-rotate));
	}
}

@keyframes float4 {
	0% {
        transform: scale(var(--c4-scale)) translateX(var(--c4-translateX))
            translateY(var(--c4-translateY)) rotate(var(--c4-rotate));
	}
	50% {
        transform: scale(var(--c4-scale)) translateX(var(--c4-translateX))
            translateY(calc(var(--c4-translateY) - 6px)) rotate(var(--c4-rotate));
	}
	100% {
        transform: scale(var(--c4-scale)) translateX(var(--c4-translateX))
            translateY(var(--c4-translateY)) rotate(var(--c4-rotate));
	}
}